<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stayfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/roundicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/roundicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signin" />
        <activity android:name=".Signup" />
        <activity android:name=".GridLayout" />
        <activity
            android:name=".WorkoutLayout"
            android:label="@string/title_activity_workout_layout"
            android:theme="@style/AppTheme" />
        <activity android:name=".FoodLayout" />
        <activity android:name=".ClassicWorkout" />
        <activity android:name=".BMI" />
        <activity android:name=".FullWorkout" />
        <activity android:name=".Popup" />
        <activity android:name=".Pedometer" />
        <activity android:name=".ApiActivity" />
        <activity android:name=".Livechat" />
        <activity android:name=".Main" />


        <activity android:name=".CalorieCounter" />
        <activity android:name=".Add" />
        <activity android:name=".ReminderActivity" />
        <receiver android:name=".AlarmBrodcast" />
        <service
            android:name=".service.StepListener"
            android:enabled="true"
            android:exported="true" />


        <activity android:name=".fw1"></activity>
        <activity android:name=".fw2"></activity>
        <activity android:name=".fw3"></activity>
        <activity android:name=".fw4"></activity>
        <activity android:name=".fw5"></activity>
        <activity android:name=".fw6"></activity>
        <activity android:name=".fw7"></activity>
        <activity android:name=".fw8"></activity>
        <activity android:name=".fw9"></activity>
        <activity android:name=".fw10"></activity>
        <activity android:name=".fw11"></activity>
        <activity android:name=".fw12"></activity>
        <activity android:name=".fw17"></activity>
        <activity android:name=".fw18"></activity>
        <activity android:name=".fw19"></activity>
        <activity android:name=".fw20"></activity>
        <activity android:name=".fw22"></activity>
        <activity android:name=".fw30"></activity>
        <activity android:name=".fw31"></activity>
        <activity android:name=".fw33"></activity>
        <activity android:name=".fw34"></activity>
        <activity android:name=".fw35"></activity>
        <activity android:name=".fw36"></activity>
        <activity android:name=".fw37"></activity>
        <activity android:name=".fw40"></activity>
        <activity android:name=".fw41"></activity>
        <activity android:name=".fw42"></activity>
        <activity android:name=".fw44"></activity>

    </application>

</manifest>